body{
margin-top:0px;
margin-left:0px;
margin-right:0px;
background-color:#002255;
min-width:640px; /* suppose you want minimun width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:640px;             /* As IE ignores !important it will set width as 1000px; */

}


/*toplinks*/
div.toplinks {
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:300;
	padding-left:10px;
	
	/* background-image: url("../assets/images/opaque_black.png");*/
	 background-size:cover;
	border:0px solid #c3c5c6;  
	
	   -webkit-border-radius: 20px;

  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
		position:fixed;
	color: #ffffff;
	text-align:right; 
	position:absolute;
	right:10px;
	float:right;
	padding-bottom:30px;
	padding-top:10px;
	top:10px;
	z-index: 7;
	width:auto;
	

}
div.toplinks h1{
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight:300;
	font-size:20px;
	position: relative;
	color: #ffffff;
	text-align:left; 
	vertical-align:top;
	text-decoration:none;

}
div.toplinks input{
font-family:'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
	font-size:34px;
	position: relative;
	color: #131313;
	text-align:left; 
	vertical-align:top;
	width: 97%;
    padding: 5px;
 -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;

}
div.toplinks select{
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:20px;
	color: #131313;

}
div.toplinks a{
font-family:'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
color: #ffffff;
font-size:14px;

 border:2px solid #ffffff; 
 padding-left:15px;
  padding-right:15px;
   padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
     -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
width:100%;
}
div.toplinks a:hover{
font-family:'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
color: #ffffff;
font-size:14px;

 border:2px solid #ffffff; 
 padding-left:15px;
  padding-right:15px;
   padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
     -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
width:100%;
}
div.toplinks a:visited{
font-family:'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
color: #ffffff;
font-size:14px;

 border:2px solid #ffffff; 
 padding-left:15px;
  padding-right:15px;
   padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
     -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
width:100%;
}




div.toridion-chip{


    content:url('../assets/images/toridion_corner_badge.png');
    position:fixed;
    width:120px;
    height:120px;
    right:0px;
    bottom: 0px 

}




section {
	font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #000000;
    width: 1140px;
    height: auto;
    background-color:#ffffff;
    margin: auto;
    padding: 10px;
    text-align:center;
}
section.h1 {
	font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #000000;
}


div.header_section {
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #000000;

}
div.header_section h1{
   	font-size:16px;
   	font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;

}


div.input_container {
   
    padding-top:30px;
    padding-bottom:30px;
   
    margin-left:30px;
    background-color:#eeeeee;

}
div.input_container h1{
   	font-size:16px;
   	font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;

}
div.input_container input{
   	font-size:16px;
   	font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;

}
div.input_container button{
   	font-size:14px;
   	font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
 	border:1px solid black;
    padding:5px;
    background-color:#eeeeff;
}



div.response_container {
   
   border:1px solid black;
     padding-top:30px;
            padding-bottom:30px;
    padding-right:30px;
    padding-left:30px;
 
    background-color:#eeeeee;
    
    /*
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:300;
	padding-left:10px;
	
	 background-image: url("../assets/images/opaque_black.png");
	 background-size:cover;
	border:0px solid #c3c5c6;  
	
	   -webkit-border-radius: 20px;

  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
	
	color: #ffffff;
	text-align:left; 
	position:absolute;
	right:90px;
	top:250px;
	z-index: 3;
	max-width:400px;
	min-width: 200;*/
}
div.response_container h1{
	font-weight:300;
   	font-size:14px;
   	font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;

}
div.response_container textarea{
   	font-size:8pt;
   	font-family:'courier';

}


div.documents_container {
   border:1px solid black;
     padding-top:30px;
            padding-bottom:30px;
    padding-right:30px;
    padding-left:30px;
    height: 600px;
    background-color:#eeeeee;

}
div.documents_container h1{
   	font-size:14px;
   	font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;

}



table.example_layout{

/*
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
vertical-align:top;
cellpadding:20px; 
cellspacing:20px;
border-collapse:collapse;
width:1140px;
height:auto;
margin-left:0px;
*/
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight:300;
font-size:16px;
vertical-align:top;
cellpadding:20px; 
cellspacing:20px;
	position:absolute;
	left:90px;
width:80%;
top:100px;
border:0px solid #c3c5c6;  
	
	   -webkit-border-radius: 20px;

  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  padding-bottom:100px;
  
  
}
table.example_layout td{
padding-right:30px;
padding:30px;
vertical-align:top;
text-align:top;
width:50%;
background-color:#eeeeee;
}
table.example_layout textarea{
font-size:16px;
vertical-align:top;
text-align:top;
width:100%;
background-color:#ffffff;
}
/*table.example_layout {
    width: 50%;
    height: 600px;
        padding-top:30px;
            padding-bottom:30px;
    padding-right:30px;
    padding-left:30px;
    background-color:#eeeeee;

}*/
table.example_layout h1{
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:36px;
	font-weight:300;


}
table.example_layout h2{
	font-weight:600;
   	font-size:26px;
   	font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;

}
table.example_layout input{
font-family:'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
	font-size:34px;
	position: relative;
	color: #131313;
	text-align:left; 
	vertical-align:top;
	width: 97%;
    padding: 5px;
 -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;

}
table.example_layout select{
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:20px;
	color: #131313;

}
table.example_layout button{
font-family:'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
color: #ffffff;
font-size:14px;
background-color:#002255;
 border:2px solid #ffffff; 
 padding-left:15px;
  padding-right:15px;
   padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
     -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
width:97%;
}
table.example_layout a{
font-family:'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
color: #ffffff;
font-size:14px;

 border:2px solid #ffffff; 
 padding-left:15px;
  padding-right:15px;
   padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
     -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
width:100%;
}
table.example_layout a:hover{
font-family:'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
color: #ffffff;
font-size:14px;

 border:2px solid #ffffff; 
 padding-left:15px;
  padding-right:15px;
   padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
     -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
width:100%;
}






/*user registration form*/
div.user_registration_form {
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:300;
	padding-left:10px;
	
	 background-image: url("../assets/images/opaque_black.png");
	 background-size:cover;
	border:0px solid #c3c5c6;  
	
	   -webkit-border-radius: 20px;

  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
	
	color: #ffffff;
	text-align:left; 
	position:absolute;
	right:90px;
	top:150px;
	z-index: 3;
	max-width:400px;
	min-width: 200;
	

}
div.user_registration_form h1{
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight:300;
	font-size:20px;
	position: relative;
	color: #ffffff;
	text-align:left; 
	vertical-align:top;
	text-decoration:none;

}
div.user_registration_form input{
font-family:'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
	font-size:34px;
	position: relative;
	color: #131313;
	text-align:left; 
	vertical-align:top;
	width: 97%;
    padding: 5px;
 -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;

}
div.user_registration_form select{
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:20px;
	color: #131313;

}
div.user_registration_form a{
font-family:'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
color: #ffffff;
font-size:20px;

 border:2px solid #ffffff; 
 padding-left:15px;
  padding-right:15px;
   padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
     -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
width:100%;
}
div.user_registration_form a:hover{
font-family:'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
color: #ffffff;
font-size:20px;
 border:2px solid #ffffff;  
 padding-left:15px;
  padding-right:15px;
   padding-top:10px;
    padding-bottom:10px;
     text-decoration: none;
      -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  width:100%;
}
div.user_registration_form a:visited{
font-family:'Source Sans Pro', Verdana, Arial, Helvetica, sans-serif;
color: #ffffff;
font-size:20px;

 border:2px solid #ffffff;  
 padding-left:15px;
  padding-right:15px;
   padding-top:10px;
    padding-bottom:10px;
     text-decoration: none;
      -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius:18px;
  width:100%;
}












/* generic landing page */
div.normal_page{
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:300;
color: #ffffff;
position: absolute;
top:500px;
padding-top:28px;
text-align:left;
vertical-align:top;
max-width: 90%;
padding-left:50px;
}
div.normal_page h1{
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight:300;
font-size:36px;
color: #ffffff;
position: relative;
text-align:left;
vertical-align:top;
max-width: auto;
text-decoration:none;
}
div.normal_page h2{
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight:600;
font-size:20px;
color: #ffffff;
position: relative;
text-align:left;
vertical-align:top;
max-width: auto;
text-decoration:none;
}

/* generic landing page */
div.normal_page_2{
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:300;
color: #ffffff;
position: absolute;
top:500px;
padding-top:28px;
text-align:left;
vertical-align:top;
max-width: 90%;
padding-left:50px;
}
div.normal_page_2 h1{
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight:300;
font-size:36px;
color: #ffffff;
position: relative;
text-align:left;
vertical-align:top;
max-width: auto;
text-decoration:none;
}
div.normal_page_2 h2{
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
font-weight:600;
font-size:20px;
color: #ffffff;
position: relative;
text-align:left;
vertical-align:top;
max-width: auto;
text-decoration:none;
}






/* AI result console */
div.console {
font-family:'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:300;
	padding-left:10px;
	
	 background-image: url("../images/opaque_green.png");
	 background-size:cover;
	border:0px solid #c3c5c6;  
	
	   -webkit-border-radius: 20px;

  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
	
	color: #00ff00;
	text-align:left; 
	position:absolute;
	left:420px;
	top:250px;
	z-index: 3;
	width:400px;
	min-height:200px;
	max-width:600px;
	min-width: 200px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;
	

}